<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Modifica</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div th:replace="fragments/header :: head"></div>
    <link rel="stylesheet" href="/css/indexStyle.css" />
  </head>
  <body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
      <form
        id="pizza-form"
        th:action="@{/modificaAdmin}"
        th:object="${newPizza}"
        method="post"
      >
        <div class="row">
          <div class="col-8">
            <div class="row">
              <div class="col-12">
                <select
                  class="form.select"
                  aria-label="Default select example"
                
                >
                  <option selected disabled>
                    Seleziona la pizza da modificare
                  </option>
                  <th:block th:each="pizza : ${pizza}">
                    <option
                      th:value="${pizza.id}"
                      th:text="${pizza.nome}"
                    ></option>
                  </th:block>
                  
                </select>
              </div>
              <div class="col-12">
                <label class="form-label text-light">Id</label>
                <input
                  disabled
                  th:field="*{id}"
                  type="text"
                  class="form-control"
                  id="id"
                />
              </div>
              </div>
              <div class="col-12">
                <label class="form-label text-light">Nome</label>
                <input
                  th:field="*{nome}"
                  type="text"
                  class="form-control"
                  id="nome"
                />
              </div>
              <div class="col-12">
                <label class="form-label text-light">Descrizione</label>
                <textarea
                  th:field="*{descrizione}"
                  type="text"
                  class="form-control"
                  id="descrizione"
                ></textarea>
              </div>
              <div class="col-12">
                <label class="form-label text-light">Foto(url)</label>
                <input
                  th:field="*{foto}"
                  type="text"
                  class="form-control"
                  id="foto"
                />
              </div>
              <div class="col-12">
                <label class="form-label text-light">Prezzo</label>
                <input
                  th:field="*{prezzo}"
                  type="text"
                  class="form-control"
                  id="prezzo"
                />
              </div>
              <div>
                <button class="btn btn-primary mt-5" type="submit">
                  Invia
                </button>
                <a class="btn btn-danger mt-5" th:href="@{/pizze}">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div th:replace="fragments/header :: bootstrapScript"></div>
  </body>
</html>
