<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div th:replace="fragments/header :: head"></div>
    <link rel="stylesheet" href="/css/indexStyle.css" />
    <title>Creazione Nuova Pizza</title>
  </head>
  <body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container">
      <form
        id="pizza-form"
        th:object="${pizza}"
        th:action="@{/create}"
        method="post"
      >
        <div class="row">
          <div class="col-8">
            <div class="row">
              <div class="col-12">
                <label class="form-label text-light">Nome</label>
                <input
                  type="text"
                  class="form-control"
                  id="nome"
                  th:field="*{nome}"
                  th:errorClass="is-invalid"
                />
                <ul th:if="${#fields.hasErrors('nome')}">
                  <li th:each="err : ${#fields.errors('nome')}" class="text-danger" th:text="${err}"></li>
              </ul>
              </div>
              <div class="col-12">
                <label class="form-label text-light">Descrizione</label>
                <textarea
                  type="text"
                  class="form-control"
                  id="descrizione"
                  th:field="*{descrizione}"
                  th:errorClass="is-invalid"
                ></textarea>
                <ul th:if="${#fields.hasErrors('nome')}">
                  <li th:each="err : ${#fields.errors('nome')}" class="text-danger" th:text="${err}"></li>
              </ul>
              </div>
              <div class="col-12">
                <label class="form-label text-light">Foto(url)</label>
                <input
                  type="text"
                  class="form-control"
                  id="foto"
                  th:field="*{foto}"
                  th:errorClass="is-invalid"
                />
                <ul th:if="${#fields.hasErrors('nome')}">
                  <li th:each="err : ${#fields.errors('nome')}" class="text-danger" th:text="${err}"></li>
              </ul>
              </div>
              <div class="col-12">
                <label class="form-label text-light">Prezzo</label>
                <input
                  type="text"
                  class="form-control"
                  id="prezzo"
                  th:field="*{prezzo}"
                  th:errorClass="is-invalid"
                />
                <ul th:if="${#fields.hasErrors('nome')}">
                  <li th:each="err : ${#fields.errors('nome')}" class="text-danger" th:text="${err}"></li>
              </ul>
              </div>
              <div>
                <button class="btn btn-primary mt-5" type="submit">
                  Invia
                </button>
                <a class="btn btn-danger mt-5" th:href="@{/pizze}">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div th:replace="fragments/header :: bootstrapScript"></div>
  </body>
</html>