<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/header :: head"></div>
    <link rel="stylesheet" href="/css/indexStyle.css" />
   
    <title>Pizzeria</title>
  </head>

  <div th:replace="fragments/navbar :: navbar"></div>

  <body>
    <div th:if="${pizzaList.isEmpty()}">
      <p>La lista è vuota</p>
    </div>

    <div th:unless="${pizzaList.isEmpty()}">
      <!--       <table>
        <thead>
          <tr>
            <th>Nome Pizza</th>
            <th>Descrizione</th>
            <th>Foto</th>
            <th>prezzo</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="pizza : ${pizzaList}">
            <td th:text="${pizza.nome}"></td>
            <td th:text="${pizza.descrizione}"></td>
            <td th:text="${pizza.foto}"></td>
            <td th:text="${pizza.prezzo}"></td>
          </tr>
        </tbody>
      </table> -->

      <h1 class="text-danger">PIZZERIA</h1>

      <div id="pizze">
        <span th:each="pizza : ${pizzaList}">
          <h2 class="text-light" th:text="${pizza.nome}"></h2>
          <img th:src="${pizza.foto}" />
          <span class="text-light" th:text="${pizza.descrizione}"></span>
          <span class="text-light" th:text="${prezzo}"></span>
        </span>
      </div>
    </div>
 
    <div th:replace="fragments/header :: bootstrapScript"></div>
  </body>
</html>
