<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/header :: head"></div>
    <link rel="stylesheet" href="/css/indexStyle.css" />

    <title>Pizzeria</title>
  </head>
  
  <body  class="img-fluid">
    <header>
      <div th:replace="~{fragments/navbar :: navbar}"></div>
    </header>
    <main th:replace="fragments/cardImg :: card">
    </main>
    <footer>
      <div th:replace="~{fragments/footer :: footer}"></div>
    </footer>
    <div th:replace="~{fragments/header :: bootstrapScript}"></div>
  </body>
</html>
