<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div th:replace="fragments/header :: head"></div>
    <meta http-equiv="refresh" content="3;url=http://localhost:8080/pizze">
    <link rel="stylesheet" href="/css/loadingStyle.css" />
    <title>Pizzeria</title>
  </head>
<img class="img-fluid" src="/img/loading_pizza.webp" alt="loading">
  <body id="loading">
    <div th:replace="fragments/header :: bootstrapScript"></div>
    <script src="/js/loadingIndex.js"></script>
  </body>
</html>
