<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div th:replace="fragments/header :: head"></div>
    <link rel="stylesheet" href="/css/indexStyle.css" />
    <title>Creazione Account</title>
  </head>
  <body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <div class="container">
      <form
        id="user-form"
        th:object="${user}"
        th:action="@{/user}"
        method="post"
      >
        <div class="row">
          <div class="col-8">
            <div class="row">
              <div class="col-12">
                <label class="form-label text-light">Nome</label>
                <input
                  type="text"
                  class="form-control"
                  id="nome"
                  th:field="*{nome}"
                  th:errorClass="is-invalid"
                />
              </div>
              <div class="col-12">
                <label class="form-label text-light">Cognome</label>
                <input
                  type="text"
                  class="form-control"
                  id="cognome"
                  th:field="*{cognome}"
                  th:errorClass="is-invalid"
                />
              </div>
              <div class="col-12">
                <label class="form-label text-light">Username</label>
                <input
                  type="text"
                  class="form-control"
                  id="username"
                  th:field="*{username}"
                  th:errorClass="is-invalid"
                />
              </div>
              <div class="col-12">
                <label class="form-label text-light">Password</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  th:field="*{password}"
                  th:errorClass="is-invalid"
                />
              </div>
              <a class="text-light mt-5" th:href="@{/login}">Sei già registrato? Clicca qui</a>
              <div>
                <button class="btn btn-success me-2 mt-5" type="submit">
                  Crea
                </button>
                <a class="btn btn-danger mt-5" th:href="@{/pizze}">Cancel</a>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
    <div th:replace="~{fragments/header :: bootstrapScript}"></div>
  </body>
</html>