<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div th:replace="fragments/header :: head"></div>
    <link rel="stylesheet" href="/css/indexStyle.css" />
  </head>
  <body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <h1 class="text-danger">ECCO LA PIZZA CHE CERCAVI</h1>
    <main class="container">
      <div th:object="${pizza}">
        <div class="d-flex justify-content-center">
          <img class="img-fluid mt-5" th:src="*{foto}" />
        </div>
        <h2 class="text-light text-center" th:text="*{nome}"></h2>
        <p class="text-danger text-center">Descrizione:</p>
        <p class="text-danger text-center" th:text="*{descrizione}"></p>
      </div>
    </main>

    <div th:replace="fragments/header :: bootstrapScript"></div>
  </body>
</html>
