<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <div th:replace="fragments/header :: head"></div>
</head>

<body class="container-fluid" th:fragment="card">
  <h1 class="text-danger container text-center">SELEZIONATE PER VOI</h1>
  <!-- nessuna pizza presente -->
  <div th:if="${pizzaList.isEmpty()}">
    <p class="text-danger text-center">NESSUNA PIZZA PRESENTE</p>
  </div>

  <!-- pizze con quantità uguali a zero -->
  <div class="row row-cols-1 row-cols-md-3 g-4 mt-3 mx-auto">
    <div class="col" th:each="pizza : ${pizzaList}" th:if="${pizza.quantitaPizza <= 0}">
      <div class="text-light">
        <h2 class="card-header text-center" th:text="${pizza.nome}"></h2>
        <div class="contenitore-immagine pizza-esaurita position-relative" style=" opacity:0.8">
          <img class="card-img-top img-fluid img-thumbnail" style=" filter: grayscale(100%)" th:src="${pizza.foto}" />
          <div class="position-absolute top-50 start-50 translate-middle text-center text-white bg-black bg-opacity-75 p-2 rounded">
            ESAURITA
          </div>
        </div>
        <div class="card-body text-center">
          <p class="card-text" th:text="|${pizza.prezzo} €|"></p>
          <p class="card-text" th:text="|QUANTINTA MAGAZZINO: ${pizza.quantitaPizza}|"></p>
          <a class="btn btn-danger me-2" th:href="@{|/modifica/${pizza.id}|}">Modifica Pizza</a>
        </div>
      </div>
    </div>
  </div>
   

    <!-- pizze maggiori di zero -->
  <div th:unless="${pizzaList.isEmpty()}">
    <div id="pizze" class="row row-cols-1 row-cols-md-3 g-4 mt-3 mx-auto">
      <div class="col" th:each="pizza : ${pizzaList}" th:if="${pizza.quantitaPizza > 0}">
        <div class="text-light">
          <h2 class="card-header text-center" th:text="${pizza.nome}"></h2>
          <a th:href="@{|pizze/${pizza.id}|}">
            <div class="contenitore-immagine">
              <img class="card-img-top img-fluid img-thumbnail" th:src="${pizza.foto}" />
            </div>
          </a>
          <div class="card-body text-center">
            <p class="card-text" th:text="|${pizza.prezzo} €|"></p>
            <p class="card-text" th:text="|QUANTINTA MAGAZZINO: ${pizza.quantitaPizza}|"></p>
            <a class="btn btn-danger me-2" th:href="@{|/modifica/${pizza.id}|}">Modifica Pizza</a>
            <form action="#" th:action="@{|/delete/${pizza.id}|}" method="post" class="d-inline">
              <button type="submit" class="btn btn-danger"
                onclick="return confirm('Vuoi eliminare questa pizza?')">Elimina Pizza</button>
            </form>
            <form class="mt-2" th:action="@{|/addShop/${pizza.id}|}" method="post">
              <div class="input-group mb-2 justify-content-center">
                <div class="input-group-text">
                  <input name="idShop" value="1" class="form-check-input mt-0" type="checkbox"
                    aria-label="Checkbox for following text input">

                  <input name="quantitaPizzaCarrello" th:value="${quantitaPizzaCarrello}"
                    placeholder="Inserisci la quantità" type="number" class="form-control"
                    aria-label="Text input with checkbox">
                </div>
              </div>
              <button type="submit" class="btn btn-success">Aggiungi Al Carrello</button>
            </form>
            <th:block>
              <p th:if="${errorMessage}" th:text="${errorMessage}"></p>
            </th:block>
          </div>
        </div>
      </div>
    </div>
    <style>
      .contenitore-immagine {
        width: 100%;
        height: 50%;
        overflow: hidden;
        /* Per nascondere eventuali parti dell'immagine che superano il contenitore */
        margin: 0 auto;
      }

      .contenitore-immagine img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /* L'immagine verrà adattata per riempire il contenitore */
      }
    </style>

    <div th:replace="fragments/header :: bootstrapScript"></div>
</body>

</html>