<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <div th:replace="fragments/header :: head"></div>
    <title>Pizzeria</title>
  </head>
  <header th:fragment="navbar">
    <nav class="navbar navbar-expand-lg bg-dark">
        <div class="container-fluid">
          <img style="width: 4%;" class="navbar-brand" src="\img\logo_navbar.png" alt="loading">
          <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon btn btn-light "></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active text-light mx-4 fs-5" aria-current="page" href="http://localhost:8080/pizze">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-light mx-4 fs-5" href="http://localhost:8080/contatti">Contatti</a>
              </li>
            </ul>
            <form class="d-flex" role="search" th:action="@{/pizze}">
              <input name="keyword"  th:value="${keyword}" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-danger" type="submit">Search</button>
            </form>
          </div>
        </div>
      </nav>
  </header>
  <!-- ___ -->
  <body>
    <!-- TABLE -->
    <div th:fragment="table-head">
      <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Titolo</th>
          </tr>
        </thead>
        <div th:fragment="table-body">
          <div th:if="${controlloSong} == true">
            <tbody th:each="s : ${song}">
              <tr>
                <td scope="col">
                  <a th:href="@{/songs/{id}(id=${s.id})}" th:text="| ${s.id}|"></a>
                </td>
                <td>
                  <a th:href="@{/songs/{id}(id=${s.id})}" th:text="|${s.titolo}|"></a>
                </td>
              </tr>
            </tbody>
          </div>
          <div>
            <tbody th:each="s : ${film}">
              <tr>
                <td scope="col">
                  <a th:href="@{/movies/{id}(id=${s.id})}" th:text="| ${s.id}|"></a>
                </td>
                <td>
                  <a th:href="@{/movies/{id}(id=${s.id})}" th:text="|${s.titolo}|"></a>
                </td>
              </tr>
            </tbody>
          </div>
        </div>
      </table>
      <!-- __ -->

  <div th:replace="fragments/header :: bootstrapScript"></div>
</body>
</html>